/* 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding:wght@700&display=swap');


/**font**/
@font-face {
    src: url("../font/BMJUA_ttf.ttf");
    font-family: "jua"
}

@font-face {
    src: url("../font/THE푸딩B.ttf");
    font-family: "pooding";
}

@font-face {
    src: url("../font/NanumGothic.ttf");
    font-family: "nanum";
}

@font-face {
    src: url("../font/NanumGothicBold.ttf");
    font-family: "nanumB";
}

/**main**/



/**header**/




/**footer**/


/**areaList**/

/**areaDetail**/


/* by 김경일 */
/* 공통 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}



a {
    text-decoration-line: none;
    color: black;
}

.nav--line__horizon {
    background-color: #CDCECF;
    border: 0;
    height: 2px
}


/* 테이블 */
table {
    /*border: 1pt solid;*/
    border-collapse: collapse;
}

/* 테이블 상단 */
.list--header {
    color: white;
    background-color: #F78181;
    font-family: 'Jua', sans-serif;
    font-size: 18px;
}

.list--header > td {
    padding: 5px 3px 3px;
}



.common-miniTitle {
    text-align: left;
    font-family: 'Jua', sans-serif;
    color: #6E6E6E;
    font-size: 25px;
    position: relative;
}
/* 테이블 항목 */
.list--item {
    border-bottom: 1px #CDCECF solid;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

.list--item > td {
    padding: 5px 3px 3px;
}

.review-button {
    color: white;
    background-color: #F78181;
    font-family: 'Jua', sans-serif;
    font-size: 19px;
    border-radius: 6px;
    border: none;
    padding: 6px 8px 4px 8px;
    cursor: pointer;
}

.button--comment {
    background-color: white;
    color: black;
    font-family: 'Jua', sans-serif;
    font-size: 19px;
    border: none;
    border-radius: 0;
    padding: 6px 8px 4px 8px;
}

.button--comment:hover {
    color: #5882FA;
}

/* 버튼 - 부트스트랩 적용 안되게 */
.button--exceptionboot {
!important;
    color: white;
    background-color: #F78181;
    font-family: 'Jua', sans-serif;
    font-size: 19px;
    border-radius: 6px;
    border: none;
    padding: 6px 8px 4px 8px;
}

/* 페이지 네이션 */

/* 캔버스 */
#canvas {
    margin-top: 20px;
    border: 1px #CDCECF solid;
}

/* 프로필 박스 */
.profilebox {
    display: inline-block;
    float: left;
    width: 230px;
    height: 90px;
    /*border: 1pt solid;*/
}

/* 프로필 박스 : 회원사진 */
.profilebox--photo {
    width: 80px;
    height: 80px;
    float: left;
    margin: 3px;
    overflow: hidden;
    border-radius: 50px;
    border: 1pt solid #E6E6E6;
    /*box-shadow: 1px 1px #CDCECF;*/
}

.profilebox--photo > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

/* 프로필 박스 : 닉네임 + 작성시간 */
.profilebox--container--sub {
    display: inline-block;
    width: 130px;
    height: 80px;
    margin: 3px;
    text-align: left;
    /*border: 1pt solid;*/
}

.profilebox--nickname {
    margin: 3px;
    height: 33px;
    line-height: 40px;
    font-size: 23px;
    font-family: 'Jua', sans-serif;
    padding-top: 2px;
    /*border: 1pt solid;*/
}

.profilebox--wdate {
    margin: 3px;
    height: 33px;
    line-height: 25px;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #A4A4A4;
    /*border: 1pt solid;*/
}

.iconbox {
    display: inline-block;
    width: 240px;
    height: 60px;
    float: right;
    margin-top: 14px;
    position: relative;
    left: 40px;
    top: 5px;
    /*border: 1pt solid;*/
}

.iconbox__comment {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin: 4px;
    /*border: 1pt solid;*/
}

.iconbox__comment > svg {
    margin: 10px;
}

.iconbox__commentcount {
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    position: relative;
    right: 7px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    line-height: 20px;
    /*border: 1pt solid;*/
}

.iconbox__hit {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin: 4px;
    /*border: 1pt solid;*/
}

.iconbox__hit > svg {
    margin: 10px;
}

.iconbox__hitcount {
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    position: relative;
    right: 7px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    line-height: 20px;
    /*border: 1pt solid;*/
}

.commentbox {
    display: inline-block;
    width: 735px;
    height: 95px;
    padding: 5px;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    /*font-size: 15px;*/
    border: 1px #CDCECF solid;
    border-radius: 10px;
    position: relative;
}

.commentbox > form {
    display: inline-block;
    margin: 0;
}

.comment__textarea {
    width: 730px;
    height: 90px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    outline: none;
    border: none;
    resize: none;
}

.comment__textarea_edit {
    width: 730px;
    height: 90px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    outline: none;
    border: none;
    resize: none;
}

.common-tbl__item {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 15px;
    color: black;
    text-align: left;
    border: 1px #CDCECF solid;
}

.common-tbl__item > td {
    padding: 10px 20px 10px 20px;
}

.common-tbl__item input[type=text] {
    border: 1px #CDCECF solid;
    padding: 8px;
}

.common-tbl__item select {
    width: 150px;
    border: 1px #CDCECF solid;
    padding: 8px;
}

.common-tbl__item input[type=checkbox] {
    position: relative;
    top: 2px;
}

.common-tbl__item textarea {
    border: 1px #CDCECF solid;
    padding: 8px;
    resize: none;
}

/* 댓글 입력 폼*/
.comment__input {
    display: inline-block;
    width: 1000px;
    height: 140px;
    margin-top: 20px;
    border: 1px #CDCECF solid;
}

.comment__input > textarea {
    border: none;
    width: 995px;
    height: 100px;
    outline: none;
    resize: none;
}

.comment__buttonbox {
    text-align: right;
}

/* 클릭시 댓글 수정 삭제 활성화 */
.comment__deleteUpdateButton {
    position: absolute;
    right: 0;
    color: #CDCECF;
    background-color: white;
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    padding: 6px 8px 4px 8px;
    border: none;
    /*border: 1pt solid;*/
}

.comment__deleteUpdateButton:hover {
    color: #A9E2F3;
}

.comment__deleteUpdateBox {
    width: 90px;
    height: 54px;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
    padding: 4px;
    box-shadow: 3px 3px #E6E6E6;
    border: 1pt solid #E6E6E6;
    position: absolute;
    right: 30px;
    display: none;
}

.comment__deleteUpdatelist {
    list-style: none;
    margin: 3px auto 0;
    border: 1pt solid white;
    text-align: center;
    font-size: 16px;
    width: 80px;
}

.comment__deleteUpdatelist:hover {
    background-color: #F2F2F2;
}

.comment__deleteUpdatelist > button {
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    background-color: unset;
    border: none;
}

.comment-editSubbox {
    width: 90px;
    position: absolute;
    text-align: center;
    bottom: 2px;
    right: 4px;
    display: none;
    /*border: 1pt solid;*/
}

.comment-editSubbox > button {
    background-color: white;
    color: black;
    font-family: 'Jua', sans-serif;
    font-size: 17px;
    border-radius: 5px;
    padding: 2px 4px 0 4px;
    border: 1px #CDCECF solid;
}

.comment-editSubbox > button:hover {
    color: #A9E2F3;
}

/* review by 경일 */

/* review - common */
/* 컨테이너 - reviewL, reviewD */
.review-container--main {
    height: 1200px;
    width: 1500px;
    min-height: 1000px;
    text-align: center;
    margin: 0 auto;
    font-size: 0;
}

/* 네비게이션 컨테이너 - reviewL, reviewD */
.review-container__navi {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.common-top__drilldownbox {
    float: left;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.common-top__drilldownbox a {
    color: #F78181;
}

/* 상단 컨테이너 (제목, 드릴다운 등) - reviewL, reviewD */
.review-container--top {
    width: 1000px;
    height: 100px;
    margin: 40px auto 0;
}

.review-btnBox--reviewEdit {
    width: 1000px;
    margin: 0 auto;
    text-align: right;
    /*border: 1px solid;*/
}

.review-btnBox--reviewEdit > form {
    display: inline-block;
}

/* 상단 제목 - reviewL, reviewD */
.common-top__title {
    text-align: left;
    font-family: 'Jua', sans-serif;
    color: #A9E2F3;
    font-size: 50px;
    position: relative;
}

/* 드릴다운 박스 */


/* 소제목 */
.common-miniTitle {
    text-align: left;
    font-family: 'Jua', sans-serif;
    color: #6E6E6E;
    font-size: 25px;
    position: relative;
}

/* ----- reviewNavibar by 경일 ----- */


/* ----- reviewList by 경일 ----- */


/* ----- reviewDetail by 경일 ----- */

/* -----  reviewInsert & Update  by 경일 ----- */
.common-iuContainer--main {
    width: 1500px;
    margin: 30px auto;
    /*font-size: 0;*/
}

.common-deleteMark--x {
    color: #CDCECF;
    font-size: 20px;
    /*border: 1px solid;*/
}

.common-iuTop--title {
    text-align: left;
    font-family: 'Jua', sans-serif;
    color: #A9E2F3;
    font-size: 50px;
    width: 1400px;
    margin: 0 auto;
}

.common-iuContainer--writeform {
    margin: 0 auto;
    text-align: left;
    width: 1400px;
}

.common-deleteMark--x {
    color: #CDCECF;
    font-size: 20px;
    /*border: 1px solid;*/
}

#crewIU-container--bottom {
    width: 1400px;
    text-align: right;
    margin: 20px auto 0;
    position: relative;
}

#secret {
    width: 30px;
    height: 32px;
    position: absolute;
    overflow: hidden;
    right: 100px;
    bottom: 3px;
}

#secret > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#reviewD-container {
    display: inline-block;
    width: 1100px;
    height: auto;
    margin: 0 auto;
    /*border-left: 1px #CDCECF solid;*/
}

.cBoard-tablelayout {
    width: 1000px;
    text-align: right;
    margin: 10px auto 0;
}

.cBoard-tablelayout tr {
    /*border: 1pt solid;*/
}

#reviewD__title {
    font-family: 'Jua', sans-serif;
    font-size: 29px;
}

#reviewD-coursebox {
    width: 880px;
    height: 440px;
    margin: 0 auto;
    overflow: hidden;
    border: 1pt solid lightgray;

}

#reviewD-coursebox > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#reviewD-content {
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}

#reviewD-comment__banner {
    display: inline-block;
    margin: 40px auto 0;
    width: 1000px;
    height: 50px;
    line-height: 65px;
    /*border: 1pt solid;*/
}

.comment-tablelayout {
    border: 1px #CDCECF solid;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 15px;
    color: black;
    text-align: left;
}

.comment-tablelayout > td {
    padding: 10px 20px 10px 20px;
    white-space: nowrap;
}

.comment-tablelayout input[type=text] {
    border: 1px #CDCECF solid;
    padding: 8px;
}

.comment-tablelayout select {
    width: 150px;
    border: 1px #CDCECF solid;
    padding: 8px;
}

/* crew by 경일 */
/* crew common */
.crew-mainContainer {
    width: 1400px;
    min-height: 800px;
    text-align: center;
    margin: 0 auto 30px;
    font-size: 0;
    /*border: 1pt solid;*/
}

.crew-navi {
    width: 1246px;
    height: 40px;
    margin: 20px auto 0;
    text-align: right;
    border-bottom: 1px #CDCECF solid;
    position: relative;
}

.crew-navi > button {
    margin: 2px;
}

.crew-navi__btn {
    color: #A4A4A4;
    background-color: unset;
    font-family: 'Jua', sans-serif;
    font-size: 23px;
    border-radius: 0;
    padding: 6px 4px 4px 4px;
    height: 34px;
    position: relative;
    top: 5px;
    right: 3px;
    cursor: pointer;
}

.crew-navi__btn > a {
    color: #A4A4A4;
}

.crew-navi__btn >a:hover {
    color: #A9E2F3;
}

.crew-button {
    font-family: 'Jua', sans-serif;
    font-size: 19px;
    border-radius: 6px;
    border: none;
    padding: 6px 8px 4px 8px;
    cursor: pointer;
    background-color: #FF8000;
    color: white;
}

.crew-label--upload {
    background-color: #FF8000;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    color: #F8ECE0;
    width: 35px;
    height: 20px;
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    padding: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 20px;
    display: inline-block;
}

.crew-topContainer {
    width: 1246px;
    height: 100px;
    margin: 10px auto 0;
    position: relative;
    border-bottom: 1px #CDCECF solid;
}

#crew-topContainer__crewBtn {
    /*width: 150px;*/
    color: #FF8000;
    background-color: white;
    border: 1pt solid #FF8000;
    font-family: Jua, sans-serif;
    font-size: 19px;
    border-radius: 10px;
    padding: 4px 8px 2px 8px;
    position: absolute;
    right: 3px;
    bottom: 14px;
    box-shadow: 1px 1px;
    /*border: none;*/
}

.crew-topContainer__sub {
    width: 1246px;
    height: 48px;
    margin: 15px auto 0;
    position: relative;
    /*border: 1pt solid;*/
}

.crew-topContainer__subBtnbox {
    width: 300px;
    height: 35px;
    text-align: left;
    position: relative;
    right: 2px;
    top: 11px;
    /*border: 1pt solid;*/
}

.crew-topContainer__subBtnbox > button {
    margin: 4px;
    height: 30px;
}

/* crewList*/
#crewL-searchBar {
    position: absolute;
    top: 1px;
    right: 0;
    /*border: 1pt solid;*/
}

#crewL-container--bottom {
    width: 1246px;
    height: 50px;
    margin: 30px auto 0;
    text-align: center;
    /*border: 1px solid;*/
}

.crew-listContainer {
    width: 1400px;
    margin: 1px auto 0;
    position: relative;
    text-align: left;
    left: 50px;
    /*border: 1pt solid;*/
}

/* 크루 프로필 */
.crew-crewProfile {
    display: inline-block;
    width: 270px;
    height: 180px;
    /*margin: 1px;*/
    margin: 18px 25px 18px 25px;
    position: relative;
    box-shadow: 1px 2px 5px #CDCECF;
    border: 1pt solid #CDCECF;
    border-radius: 10px;
}

.crew-crewProfile__logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 15px;
    overflow: hidden;
    box-shadow: 1px 2px 5px #CDCECF;
    border: 1pt solid #CDCECF;
}

.crew-crewProfile__logo > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.crew-crewProfile__crewnameBox {
    width: 160px;
    height: 35px;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1pt solid;
    border-radius: 10px;
    background-color: #6E6E6E;
    color: #F2F2F2;
    padding-bottom: 2px;
    line-height: 30px;
}

.crew-crewProfile__crewnameBox__name {
    display: inline-block;
    width: 160px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    /*border: 1pt solid;*/
}

.crew-crewProfile__crewnameBox__grade {
    display: inline;
    width: 19px;
    height: 20px;
    overflow: hidden;
    /*border: 1pt solid;*/
}

.crew-crewProfile__crewnameBox__grade > img {
    vertical-align: middle;
    width: inherit;
    height: inherit;
    object-fit: cover;
    margin-bottom: 4px;
}

.crew-crewProfile__master {
    width: 160px;
    height: 25px;
    position: absolute;
    top: 60px;
    right: 15px;
    font-size: 16px;
    font-family: 'Jua', sans-serif;
    color: #6E6E6E;
    text-align: left;
    /*border: 1pt solid;*/
}

.crew-crewProfile__region {
    width: 150px;
    height: 20px;
    position: absolute;
    top: 90px;
    left: 15px;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    text-align: left;
    /*border: 1pt solid;*/
}

.crew-crewProfile__intro {
    width: 235px;
    height: 55px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: left;
    padding: 2px;
    border: 1pt solid #A4A4A4;
    border-radius: 5px;
}

.crew-label--crewmaster {
    font-size: 11px;
    font-family: 'Nanum Gothic Coding', sans-serif;
    color: white;
    background-color: #A4A4A4;
    position: relative;
    bottom: 3px;
    border: 1pt solid;
    padding: 2px;
    border-radius: 10px;
}

.crew-infoContainer {
    width: 1120px;
    height: 720px;
    margin-top: 50px;
    border: 1px solid #CDCECF;
    box-shadow: 1px 2px 5px #CDCECF;
    border-radius: 20px;
}

.crew-info__infobox {
    text-align: left;
    font-size: 21px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 557px;
    height: inherit;
    border-right: 1px solid #CDCECF;
    vertical-align: top;
}

.crew-info__introbox {
    text-align: left;
    font-size: 21px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 557px;
    height: inherit;
    vertical-align: top;
    /*border: 1pt solid;*/
}

.crew-info__item {
    width: 500px;
    margin: 40px auto 0;
    padding: 12px;
    border-bottom: 1px solid #CDCECF;
    line-height: 29px;
}

.crew-namelabel {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-family: 'Jua', sans-serif;
    color: white;
    background-color: #6E6E6E;
    height: 27px;
    width: 120px;
    border-radius: 5px;
    padding-bottom: 2px;
}

.crew-infolabel {
    display: block;
    text-align: left;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    width: 490px;
    height: 266px;
    margin: 10px 0 auto;
    border-radius: 5px;
    border: 1px solid #CDCECF;
    padding: 10px;
}

.crew-info__grade {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    overflow: hidden;
    /*border: 1pt solid;*/
}

.crew-info__grade > img {
    display: inline-block;
    width: inherit;
    height: inherit;
    vertical-align: bottom;
    object-fit: cover;
}

.crew-info__pointbar--holder {
    display: inline-block;
    width: 300px;
    height: 15px;
    border-radius: 20px;
    position: relative;
    border: 1px solid #CDCECF;
}

.crew-info__pointbar--bar {
    display: inline-block;
    width: 85.12%;
    height: 100%;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    line-height: 15px;
    /*vertical-align: top;*/
    border-radius: 20px;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 10px;
    font-family: 'Jua', sans-serif;
    color: white;
}

.crew-midContainer--left {
    height: 400px;
    width: 500px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
    /*border: 1pt solid;*/
}

.crew-midContainer--right {
    height: 400px;
    width: 615px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
    /*border: 1pt solid;*/
}

.crew-memberContainer {
    width: 500px;
    max-height: 300px;
    margin-top: 50px;
    border: 1px solid #CDCECF;
    box-shadow: 1px 2px 5px #CDCECF;
    border-radius: 20px;
    overflow-y: auto;
    position: relative;
}

.crew-memberContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.crew-memberTbl--top {
    width: 100%;
    object-fit: cover;
    top: 0;
}

.crew-memberTbl--bottom {
    width: 100%;
    object-fit: cover;
}

.crew-memberTbl--top td {
    padding: 4px 1px 4px 1px;
    text-align: center;
    height: 31px;
    /*border: 1pt solid;*/
}

.crew-memberTbl--bottom td {
    padding: 4px 30px 4px 30px;
    height: 60px;
    text-align: center;
    /*border: 1pt solid;*/
}

.crew-memberTbl__header {
    font-family: 'Jua', sans-serif;
    font-size: 23px;
    color: white;
    background-color: #FF8000;
    /*border: 1px #CDCECF solid;*/
}


.crew-member--idbox {
    text-align: left;
    width: 270px;
    display: inline-block;
    padding-left: 30px;
    /*border: 1pt solid;*/
}

.crew-addedMember--idbox {
    text-align: left;
    display: inline-block;
    padding: 6px 30px 4px 30px;
    border-radius: 20px;
    box-shadow: 1px 1px #F2F2F2;
    background-color: #6E6E6E;
    color: white;
    line-height: 15px;
    margin: 3px;
}

.crew-withMember--idbox {
    text-align: left;
    display: inline-block;
    padding: 6px 40px 4px 40px;
    box-shadow: 1px 1px #F2F2F2;
    color: black;
    line-height: 15px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #CDCECF;
}

.crew-member--photo {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50px;
    border: 1pt solid #E6E6E6;
    display: inline-block;
    position: relative;
}

.crew-member--photo > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    right: 0;
}

.crew-master--decorate {
    width: 70px;
    height: 36px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    /*border: 1pt solid;*/
}

.crew-master--decorate > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    right: 0;
}

.crew-master--decotext {
    font-family: 'Jua', sans-serif;
    font-size: 14px;
    color: white;
    z-index: 1;
    position: absolute;
    top: 16px;
    left: 19px;
}

.crew-recruitContainer {
    display: inline-block;
    width: 530px;
    height: 239px;
    margin: 50px 0 0 65px;
    border: 1px solid #CDCECF;
    box-shadow: 1px 2px 5px #CDCECF;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 17px;
    padding: 30px 10px 30px 10px;
}

.crew-box--addedMember {
    margin: 20px 0 0 0;
    /*border: 1px solid;*/
}

/* crewInsert */


.crew-logobox {
    display: inline-block;
    width: 90px;
    height: 100px;
    border: 1pt solid #F2F2F2;
    overflow: hidden;
    position: relative;
    top: 7px;
    border-radius: 10px;
}

.crew-logobox > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

#crewI-btn--addQuestion {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px
}



#crewI-input--name {
    position: absolute;
    left: 20px;
}

#crewI-btn--checkName {
    position: absolute;
    left: 225px;
}

#crewI-nameCheckMsg {
    position: absolute;
    left: 335px;
    top: 32px
}


/* crewDetail */
#crewM-btn--modifyInfo {
    position: relative;
    left: 465px;
    top: 5px;
}

.crewM-container--bottom {
    width: 1120px;
    height: 500px;
    /*border: 1px solid;*/
}

#crewM-container__wating {
    width: 800px;
    margin-top: 0;
}

.crewM-member--idbox {
    text-align: left;
    width: 500px;
    display: inline-block;
    padding-left: 30px;
    position: relative;
    left: 50px;
    /*border: 1pt solid;*/
}

.crewM-member--idbox__btnbox {
    position: absolute;
    right: 40px;
    top: 10px;
}

#crewM_input--image {
    display: none;
}

#crewM-btn--submitIntro {
    position: relative;
    left: 465px;
    top: 5px;
}

#crewM-textArea--intro {
    width: 440px;
    height: 50px;
    resize: none;
    border: 1px solid #CDCECF;
    margin-top: 7px;
}

#cBoardL-list {
    width: 1100px;
    margin: 30px auto 0;
}

#cBoardL-btn--write {
    position: absolute;
    right: 0;
    top: 17px;
    height: 30px;
}

.cBoard-nav {
    width: 1100px;
    height: 30px;
    margin: 0 auto;
    font-family: "Nanum Gothic Coding", sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #CDCECF;
    text-align: right;
    line-height: 32px;
}

.cBoard-nav > a {
    color: #A4A4A4;
}

#cBoardL-container--bottom {
    width: 1100px;
    margin: 30px auto 0;
    text-align: center;
}

#cBoardL-bottom_search {
    margin-top: 100px;
    right: 18px;
}

/* crewBoardDetail */
#cBoardD-tablelayout {
    width: 1000px;
    text-align: right;
    margin: 10px auto 0;
}

#cBoardD-comment__banner {
    display: inline-block;
    margin: 40px auto 0;
    width: 1000px;
    height: 50px;
    line-height: 65px;
    /*border: 1pt solid;*/
}

#cBoardD-box--crewWith {
    display: inline-block;
    position: absolute;
    right: 0;
}

#cBoardD-btn-crewWith {
    color: #6E6E6E;
    background-color: unset;
    font-family: 'Jua', sans-serif;
    font-size: 19px;
    border-radius: 0;
    border: none;
    padding: 6px 8px 4px 8px;
    margin-right: 15px;
}

#cBoardD-box-crewMemberList {
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px;
    position: absolute;
    width: 210px;
    text-align: center;
    padding: 0 10px 10px 10px;
    box-shadow: 1px 2px #CDCECF;
    display: none;
}

.cBoardD-btnbox-edit{
    text-align: right;
    width: 1000px;
    margin: 50px auto 0;
    /*border: 1px solid;*/
}

.cBoardD-btnbox-edit > form{
    display: inline-block;
}

/* crewJoin */
#crewJ-container {
    width: 600px;
    margin: 1px auto 0;
    position: relative;
    /*border: 1pt solid;*/
}

#crewJ-tbl {
    width: 600px;
    text-align: right;
    margin: 20px auto 0;
}

#crewJ-container-bottom {
    width: 600px;
    text-align: right;
    margin: 20px 0 20px 0;
}

.crew_popupContainer {
    width: 800px;
    margin: 10px auto 0;
    /*border: 1px #CDCECF solid;*/
}

.crew_popupContainer > span {
    display: inline-block;
    text-align: left;
    line-height: 48px;
    font-family: "Nanum Gothic Coding", sans-serif;
    font-size: 20px;
    height: 50px;
    padding: 5px;

}

.crewEJ-input--modify {
    border: 1px #CDCECF solid;
    padding: 8px;
    width: 630px;
}

/* made by 정연*/
/* mypageDetail */


/*plan - planDetail */
.planL-navbox__li--big, .planL-titlebox--span__big {
    font-family: 'Jua', sans-serif;
}

.planL-header {
    height: 150px;
    background-color: #5882fa;
}

.planL-container {
    width: 1300px;
    margin: 0px auto;
    overflow: auto;
}

.planL-navbox {
    width: 220px;
    height: 530px;
    display: inline-block;
    margin: 70px auto;
    background-color: #5882fa;
}

.planL-navbox__ul--blue {
    list-style-type: none;
    margin: 25px 0 0 22px;
    padding: 0;
    color: white;
    width: 170px;
    font-weight: 700;
}


.planL-navbox__li--big {
    height: 56px;
    font-size: 20px;
    color: white;
    border-bottom: 3px solid #abb2c7;
    line-height: 60px;
}

.planL-navbox__li--small {
    margin: 30px 0 30px 6px;
}

.planL-navbox__a--blue {
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.planL-navbox__img--small {
    width: 18px;
    height: 18px;
    vertical-align: sub;
}

.planL-planbox {
    float: right;
    width: 1000px;
    margin: 70px 10px 70px 0px;
}

.planL-titlebox {
    width: 100%;
    height: 85px;
    border-top: 2px solid #cacdd1;
    border-left: 2px solid #cacdd1;
    border-right: 2px solid #cacdd1;
}

.planL-titlebox--span__big {
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
    margin: 23px 10px 0 26px;
}

.planL-titlebox--button__blue {
    width: 150px;
    height: 47px;
    float: right;
    margin: 20px 15px 0 0;
    border: none;
    border-radius: 6px;
    background-color: #0080ff;
    color: white;
    font-family: 'Jua', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.planL-listbox {
    border: 2px solid #cacdd1;
    width: 100%;
    min-height: 400px;
}

.planL-detailbox {
    width: 300px;
    height: 250px;
    border: 1px solid #cacdd1;
    border-radius: 10px;
    display: inline-block;
    margin: 20px 13px 10px 14px;
    box-shadow: 1px 2px 5px #CDCECF;
}

.planL-detailmap {
    width: 300px;
    height: 175px;
    cursor: pointer;
    border-bottom: 1px solid #cacdd1;
}

.planL-map {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.planL-detailinfo {
    width: 100%;
    height: 74px;
    position: relative;
}

.planL-detailinfo__span--date {
    font-size: 17px;
    position: absolute;
    top: 9px;
    left: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.planL-detailinfo__span--dday {
    font-size: 14px;
    font-weight: bolder;
    position: absolute;
    bottom: 17px;
    left: 16px;
    display: inline-block;
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.planL-detailinfo__span--days { /*days*/
    font-size: 17px;
    position: absolute;
    top: 8px;
    right: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}

.planL-detailinfo__button--blue {
    width: 55px;
    height: 25px;
    position: absolute;
    top: 37px;
    right: 20px;
    background-color: #49b2e9;
    color: white;
    border: none;
    border-radius: 7px;
    font-family: 'Jua', sans-serif;
    font-weight: bolder;
    line-height: 25px;
    cursor: pointer;
}

.planL-popupcontainer {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.7);
}

.planL-popbox {
    width: 700px;
    height: 450px;
    position: relative;
    z-index: 2;
    background: white;
    box-shadow: 3px 3px 5px black;
    margin: 150px auto;
    cursor: pointer;
    text-align: center;
}

.planL-popheadbox {
    width: 693px;
    height: 80px;
    border: 4px solid #abb2c7;
    position: relative;
}

.planL-popheadbox__span--big {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
}

.planL-popheadbox__button--big {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 45px;
    background-color: #5882fa;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
}

.planL-popcontentbox {
    height: 360px;
    width: 693px;
    border-left: 4px solid #abb2c7;
    border-right: 4px solid #abb2c7;
    border-bottom: 4px solid #abb2c7;
}

.planL-popdetailbox {
    width: 100%;
    height: 80px;
    position: relative;
}

.planL-popdetailbox__span--big {
    width: 100px;
    height: 100px;
    font-size: 23px;

    position: absolute;
    top: 40px;
    left: 60px;
    font-family: 'Jua', sans-serif;
}

.planL-popdetailbox__span--small {
    position: absolute;
    top: 44px;
    right: 275px;
    font-weight: bolder;
}

.planL-popdetailbox__input--gray {
    position: absolute;
    top: 36px;
    right: 100px;
    width: 350px;
    height: 30px;
    border: 2.5px solid #dadce0;
    font-size: 16px;
}

.planL-popdetailbox__input--date {
    width: 150px;
    height: 35px;
    margin-left: 87px;
    margin-right: -47px;
    margin-top: 34px;
    border: 2.5px solid #dadce0;
    font-size: 14px;
}

.planL-popbtnbox__input--blue {
    width: 200px;
    height: 50px;
    background-color: #1b3067;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    margin: 30px auto;
    cursor: pointer;
}


/* planDetail */

.planD-container {
    width: 1270px;
    margin: 0 auto;
    overflow: auto;
}

.planD-navbox {
    width: 220px;
    height: 530px;
    display: inline-block;
    margin: 40px auto;
    background-color: #5882fa;
}

.planD-navbox__ul--blue {
    list-style-type: none;
    margin: 25px 0 0 22px;
    padding: 0;
    color: white;
    width: 170px;
    font-weight: 700;
}

.planD-navbox__li--big {
    height: 56px;
    font-size: 20px;
    color: white;
    border-bottom: 3px solid #abb2c7;
    line-height: 60px;
    font-family: 'Jua', sans-serif;
}

.planD-navbox__li--small {
    margin: 30px 0 30px 6px;
}

.planD-navbox__a--blue {
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.planD-navbox__img--small {
    width: 18px;
    height: 18px;
    vertical-align: sub;
}

.planD-planbox {
    float: right;
    width: 1000px;
    margin: 40px auto;
}

.planD-titlebox {
    width: 100%;
    height: 400px;
}

.planD-imgbox {
    width: 100%;
    height: 310px;
    position: relative;
}

.planD-imgbox--img__big {
    width: 100%;
    height: 310px;
}

.planD-titledetail {
    position: absolute;
    top: 210px;
    left: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.planD-titledays {
    position: absolute;
    top: 255px;
    left: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.planD-titleIntro {
    position: absolute;
    top: 280px;
    left: 30px;
    color: white;
    font-weight: bold;
}

.planD-btnbox {
    width: 997px;
    height: 90px;
    border: 1px solid #cacdd1;
    position: relative;
}

.planD-btnbox__button--blue {
    width: 100px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 730px;
    color: white;
    font-size: 22px;
    background-color: #a9e2f3;
    border: none;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
}

.planD-btnbox__button--gray {
    width: 100px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 750px;
    color: white;
    font-size: 22px;
    background-color: #cacdd1;
    border: none;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
}

.planD-listbox {
    width: 650px;
    margin: 30px auto;
    display: inline-block;
}

.planD-detailbox {
    width: 100%;
    margin: 10px auto;
}

.planD-datebox {
    height: 60px;
    border: 1px solid #cacdd1;
}

.planD-days {
    display: inline-block;
    width: 110px;
    height: 100%;
    background-color: #1b3067;
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 57px;
}

.planD-date {
    display: inline-block;
    width: 150px;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;

}

.planD-detail {
    height: 160px;
    border-left: 1px solid #cacdd1;
    border-bottom: 1px solid #cacdd1;
    border-right: 1px solid #cacdd1;

}

.planD-detailnumber {
    display: inline-block;
    width: 107px;
    height: 100%;
    text-align: center;
    line-height: 160px;
}

.planD-detailnumber__img--navy {
    width: 33px;
    height: 33px;
    margin-bottom: -12px;
}

.planD-detailplace {
    float: right;
    position: relative;
    width: 530px;
    height: 100%;
    color: #6c87ce;
}

.planD-detailtime__span--small {
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 18px;
    color: #757575;
}

.planD-detailplace__span--small {
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 60px;
    left: -5px;
    display: inline-block;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.planD-detailinfo__span--small {
    position: absolute;
    top: 120px;
    font-size: 15px;
    font-weight: 600;
    color: #bdbdbd;
}

.planD-detailimg {
    float: right;
    background-color: burlywood;
    border: 1px solid #cacdd1;
    width: 220px;
    height: 130px;
    margin: 13px 10px 10px 10px;
}

.planD-mapbox {
    float: right;
    position: relative;
    width: 300px;
    height: 450px;
    margin: 40px auto;
    border: 1px solid #cacdd1;
}

.mapbox {
    position: absolute;
    width: 100%;
    height: 100%;
}

.planD-map {
    width: 100%;
    height: 270px;
    border-bottom: 1px solid #cacdd1;
    background-color: burlywood;
    float: left;
    z-index: 0;
}

.planD-selectbox__select--day {
    width: 70px;
    height: 26px;
    font-size: 15px;
    border: 2px solid #808080;;
    color: #808080;
}

.planD-selectbox__select--day:focus {
    border: 2px solid #808080;
    outline: none;
}

.planD-selectbox {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.planD-placelistbox {
    position: absolute;
    width: 100%;
    height: 177px;
    bottom: 0px;

}

.planD-placelist {
    width: 100%;
    height: 100%;
    float: left;
}

.planD-placedetail {
    width: 95px;
    height: 45px;
    display: inline-block;
    position: relative;
}

.planD-placedetail__img--navy {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 10px;
    top: 13px;
}

.planD-placedetail__span--small {
    font-family: 'Nanum Gothic', sans-serif;
    width: 61px;
    position: absolute;
    top: 17px;
    right: 0px;
    font-size: 13px;
    font-weight: 600;
    display: block; /* ÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚Â¸ÃƒÂ¢Ã¢â€šÂ¬Ã‚ÂÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚Â¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â­Ãƒâ€ Ã¢â‚¬â„¢Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã‚ÂªÃƒâ€šÃ‚Â·Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚Â¡Ãƒâ€¦Ã¢â‚¬Å“ ÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚Â§Ãƒâ€¦Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â«ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒâ€šÃ‚Â¤ÃƒÆ’Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬Å“Ãƒâ€šÃ‚Â´ÃƒÆ’Ã‚Â¬Ãƒâ€šÃ‚Â¤ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚Â«ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹Ãƒâ€šÃ‚Â¤ */
    text-overflow: ellipsis; /* ÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚Â§Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¬Ãƒâ€šÃ‚Â¤ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ css */
    white-space: nowrap; /*ÃƒÆ’Ã‚ÂªÃƒâ€šÃ‚Â¸ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚Â¬Ãƒâ€¦Ã‚Â¾Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚Â¥Ãƒâ€šÃ‚Â¼ ÃƒÆ’Ã‚Â­ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¢Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã‚Â¬Ãƒâ€šÃ‚Â¤ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚Â¡Ãƒâ€¦Ã¢â‚¬Å“ ÃƒÆ’Ã‚Â«Ãƒâ€šÃ‚ÂªÃƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â¬Ãƒâ€šÃ‚Â¤ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚Â«ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹Ãƒâ€šÃ‚Â¤*/
    overflow: hidden;
}

.planD-popupcontainer {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.7);
}

.planD-popbox {
    width: 700px;
    height: 450px;
    position: relative;
    z-index: 2;
    background: white;
    box-shadow: 3px 3px 5px black;
    margin: 150px auto;
    cursor: pointer;
    text-align: center;
}

.planD-popheadbox {
    width: 693px;
    height: 80px;
    border: 4px solid #abb2c7;
    position: relative;
}

.planD-popheadbox__span--big {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
}

.planD-popheadbox__button--big {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 45px;
    background-color: #5882fa;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
}

.planD-popcontentbox {
    height: 360px;
    width: 693px;
    border-left: 4px solid #abb2c7;
    border-right: 4px solid #abb2c7;
    border-bottom: 4px solid #abb2c7;
}

.planD-popdetailbox {
    width: 100%;
    height: 80px;
    position: relative;
}

.planD-popdetailbox__span--big {
    width: 100px;
    height: 100px;
    font-size: 23px;

    position: absolute;
    top: 40px;
    left: 60px;
    font-family: 'Jua', sans-serif;
}

.planD-popdetailbox__span--small {
    position: absolute;
    top: 44px;
    right: 275px;
    font-weight: bolder;
}

.planD-popdetailbox__input--gray {
    position: absolute;
    top: 36px;
    right: 100px;
    width: 350px;
    height: 30px;
    border: 2.5px solid #dadce0;
    font-size: 16px;
}

.planD-popdetailbox__input--date {
    width: 150px;
    height: 35px;
    margin-left: 87px;
    margin-right: -47px;
    margin-top: 34px;
    border: 2.5px solid #dadce0;
    font-size: 14px;
}

.planD-popbtnbox__input--blue {
    width: 200px;
    height: 50px;
    background-color: #1b3067;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    margin: 30px auto;
    cursor: pointer;
}

.planD-footer {

}

/* planInsert */
.planI-header {
    width: 100%;
    border-bottom: 1px solid #757575;
    height: 130px;
    position: relative;
}

.planI-header img {
    width: 110px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.planI-header__button--sumbit {
    width: 130px;
    height: 60px;
    position: absolute;
    top: 35px;
    right: 190px;
    cursor: pointer;
    background-color: #ff8000;
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 25px;
    font-family: 'Jua', sans-serif;
}

.planI-header__button--close {
    width: 130px;
    height: 60px;
    position: absolute;
    top: 35px;
    right: 40px;
    cursor: pointer;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 25px;
    font-family: 'Jua', sans-serif;
}

.planI-container {
    width: 100%;
    height: 90%;
}

.planI-daysbox {
    width: 120px;
    height: 90%;
    position: absolute;
    left: 0px;
    background-color: #1b3067;
    overflow-y: scroll;
}

.planI-planscontainer {
    width: 260px;
    height: 90%;
    position: absolute;
    left: 120px;
}

.planI-plansbox {
    float: left;
    border-right: 1px solid #757575;
    border-bottom: 1px solid #757575;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#planI-searchbox {
    border-right: 1px solid #757575;
    border-bottom: 1px solid #757575;
    width: 350px;
    height: 90%;
    position: absolute;
    left: 380px;
    overflow-y: scroll;
}

.planI-mapbox {
    height: 90%;
    width: 63%;
    position: absolute;
    left: 731px;
}


.planI-daysboxtitle {
    height: 80px;
    border-bottom: 1px solid white;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}

.planI-daybox {
    border-bottom: 1px solid white;
    height: 80px;
    color: white;
    position: relative;
    cursor: pointer;
}

.planI-daybox:hover {
    background-color: #4966a9 !important;
}

.planI-day {
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    left: 30px;
}

.planI-date {
    position: absolute;
    bottom: 10px;
    left: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #a9e2f3;
}


.planI-plansboxtitle {
    background-color: #757575;
    height: 80px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}

.planI-planbox {
    width: 100%;
    height: 161px;
    border-bottom: 1px solid #757575;
}

.planI-plannum {
    width: 55px;
    height: 100%;
    float: left;
    position: relative;
}

.planI-plannum__img-navy {
    position: absolute;
    top: 28px;
    left: 15px;
    width: 33px;
}

.planI-plannum__span--time {
    font-weight: bold;
    position: absolute;
    bottom: 55px;
    left: 18px;
    font-size: 14px;
}

.planI-plannum__span--memo {
    font-weight: bold;
    position: absolute;
    bottom: 18px;
    left: 18px;
    font-size: 14px;
}

.planI-plandetail {
    float: right;
    width: 203px;
    height: 100%;
    position: relative;

}

.planI-plandetail__span--place {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 25px;
    font-weight: bolder;
    color: #5882FA;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.planI-plandetail__input--time {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 173px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #dadce0;
    font-family: 'Nanum Gothic', sans-serif;

}

.planI-plandetail__input--intro {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 170px;
    height: 20px;
    font-size: 11px;
    border: 2px solid #dadce0;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}

.planI-plandetail__button--blue {
    position: absolute;
    top: 8px;
    right: 6px;
    width: 20px;
    height: 20px;
    border: 3px solid #dadce0;
    border-radius: 6px;
    background-color: white;
    color: #bdbdbd;
    font-size: 20px;
    font-weight: 900;
    line-height: 10px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}


#planI-searchbox::-webkit-scrollbar, .planI-plansbox::-webkit-scrollbar, .planI-daysbox::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.planI-search {
    border-bottom: 1px solid #757575;
    width: 100%;
    height: 79px;
}

#keyword {
    border: 2px solid #757575;
    width: 230px;
    height: 35px;
    margin: 20px 10px 0 25px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.planI-search button {
    width: 50px;
    height: 40px;
    border: 2px solid #757575;
    border-radius: 6px;
    background-color: white;
    color: #757575;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#planI-searchbox__ul--gray {
    width: 100%;
    margin: 0;
    padding: 0;
}

#planI-searchbox__ul--gray li {
    margin: 0px 0 0 0;
    border-bottom: 1px solid #757575;
    list-style: none;
    width: 100%;
    height: 80px;
    position: relative;
}


#planI-searchbox__ul--gray .markerbg {
    float: left;
    position: absolute;
    left: 15px;
    width: 36px;
    height: 37px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#planI-searchbox__ul--gray .info {
    float: right;
    width: 220px;
    height: 100%;
    position: absolute;
    left: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#planI-searchbox__ul--gray h5 {
    position: absolute;
    top: -17px;
    left: 10px;
    font-size: 16px;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#planI-searchbox__ul--gray span {
    position: absolute;
    left: 10px;
    bottom: 25px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#planI-searchbox__ul--gray .tel {
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 13px;
    color: green;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#planI-searchbox__ul--gray .item .marker_1 {
    background-position: 0 -10px;
}

#planI-searchbox__ul--gray .item .marker_2 {
    background-position: 0 -56px;
}

#planI-searchbox__ul--gray .item .marker_3 {
    background-position: 0 -102px
}

#planI-searchbox__ul--gray .item .marker_4 {
    background-position: 0 -148px;
}

#planI-searchbox__ul--gray .item .marker_5 {
    background-position: 0 -194px;
}

#planI-searchbox__ul--gray .item .marker_6 {
    background-position: 0 -240px;
}

#planI-searchbox__ul--gray .item .marker_7 {
    background-position: 0 -286px;
}

#planI-searchbox__ul--gray .item .marker_8 {
    background-position: 0 -332px;
}

#planI-searchbox__ul--gray .item .marker_9 {
    background-position: 0 -378px;
}

#planI-searchbox__ul--gray .item .marker_10 {
    background-position: 0 -423px;
}

#planI-searchbox__ul--gray .item .marker_11 {
    background-position: 0 -470px;
}

#planI-searchbox__ul--gray .item .marker_12 {
    background-position: 0 -516px;
}

#planI-searchbox__ul--gray .item .marker_13 {
    background-position: 0 -562px;
}

#planI-searchbox__ul--gray .item .marker_14 {
    background-position: 0 -608px;
}

#planI-searchbox__ul--gray .item .marker_15 {
    background-position: 0 -654px;
}

.placelist-div {
    position: absolute;
    right: 13px;
    top: 24px;
}

.placelist-div__button {
    width: 30px;
    height: 30px;
    border: 2px solid #777;
    border-radius: 5px;
    background-color: white;
    color: #777;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#planI-pagination {
    width: 100%;
    height: 70px;
    text-align: center;
    margin-top: 30px;
}

#planI-pagination a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

#planI-pagination .on {
    font-weight: bolder;
    cursor: default;
    color: #777;
}

#planI-pagination a, #planI-paginationp a:hover, #planI-pagination a:active {
    color: #000;
    text-decoration: none;
}

#planI-searchbox__ul--gray .item .marker_1 {
    background-position: 0 -10px;
}

.planI-map {
    width: 100%;
    height: 100%;

}

/* memberJoin */


/* memberJoinResult */
.memberJR-container {
    margin: 100px auto;
    text-align: center;
    padding: 50px 0 50px 0;
}

.memberJR-container__p1-bold {
    font-size: xxx-large;
}

.memberJR-container__p2-bold {
    font-weight: bold;
}

.memberJR-container__button-blue {
    width: 360px;
    height: 50px;
    color: #ffffff;
    background-color: #0080c0;
    font-size: 23px;
    margin: 40px auto;
    border: none;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
}



/* memberPolicy */

/* memberRule */